<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>skokov</title>
		<link rel="stylesheet" type="text/css" href="styles/styles.css" />
		<link rel="stylesheet" type="text/css" href="fonts/stylesheet.css" />
	</head>

	<body>
		<div id="wrap">
			<div id="header">
				<ul class="nav">
					<li><a href="#">HOME</a></li>
					<li><a href="#">PORTFOLIO</a></li>
					<li class="active"><a href="#">BLOG</a></li>
					<li><a href="#">ABOUT US</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
				<a href="//"><img src="images/logo.png" alt="logo"></a>
			</div><!--end header-->
			<div id="content">
				<div class="topbg">
					<h1>BLOG</h1>
				</div>
				<div class="conteiner">
					<div class="pt1">
						<div class="bloq">
							<p>"Ability may get you to the top, but it takes character to keep you there."</p>
							<span>John Wooden</span>
						</div>
						<div class="post3">
							<img src="images/img1.png" alt="" />
							<div class="post">
								<h2>17 Inspiring Examples of Parallax  Scrolling Sites</h2>
								<p>When it comes to parallax scrolling, the line that separates good and 
									bad choices is pretty thin. A while back parallax was being used to 
									deliver an explosion of elements floating around the screen.</p>
									<span class="like">15</span>
									<span>by John Doe  /  4 comments  /  Oct. 12, 2013</span>
							</div>
						</div>
						<div class="post3">
							<img src="images/img2.png" alt="" />
							<div class="post">
								<h2>20 Resources for Beginner Designers & Developers</h2>
								<p>Getting started in the world of design can be both thrilling and 
									intimidating. Sometimes, you feel like you just don’t have the tools 
									or skills you need to complete even the most basic projects.</p>
									<span class="like">7</span>
									<span>by John Doe  /  8 comments  /  Oct. 10, 2013</span>
							</div>
						</div>
						<div class="post3">
							<img src="images/img3.png" alt="" />
							<div class="post">
								<h2>18 Minimalistic Home Offices to Inspire You</h2>
								<p>It doesn’t matter if you work from home or if you use your own space 
									only at night or on the weekends, home offices are great! They give 
									us a chance to create a space just the way we want it.</p>
									<span class="like">2</span>
									<span>by John Doe  /  0 comments  /  Oct. 08, 2013</span>
							</div>
						</div>
					</div>	
					<div class="pt2">
						<div class="post3">
							<img src="images/img4.png" alt="" />
							<div class="post">
								<h2>Multipurpose Agency WordPress Theme</h2>
								<p>At ThemeTrust, our premium WordPress theme shop, we just released 
									our latest WordPress theme. Baylie is a multipurpose agency theme 
									featuring a full screen parallax slideshow.</p>
									<span class="like">0</span>
									<span>by John Doe  /  1 comments  /  Oct. 12, 2013</span>
							</div>
						</div>
						<div class="post3">
							<img src="images/img5.png" alt="" />
							<div class="post">
								<h2>Inspiring Examples of Color in Web Design</h2>
								<p>Last week we showcased 13 Beautiful Examples of Bold Colors 
									in Web Design and we received several emails asking us to put 
									together a list with specific colors.</p>
									<span class="like">19</span>
									<span>by John Doe  /  9 comments  /  Oct. 10, 2013</span>
							</div>
						</div>
						<div class="post3">
							<img src="images/img6.png" alt="" />
							<div class="post">
								<h2>15 Fresh Examples of Clean and Minimal Web Designs</h2>
								<p>As a designer, it can be tempting to use a lot of unnecessary design 
									elements or a complex color palette to make a website stand out.</p>
									<span class="like">21</span>
									<span>by John Doe  /  0 comments  /  Oct. 09 2013</span>
							</div>
						</div>
						<div class="post3">
							<img src="images/img7.png" alt="" />
							<div class="post">
								<h2>15 Websites with Beautiful Typography</h2>
								<p>We are continuing to see more an more web designers realize the 
									importance of typography. And with services like Typekit, 
									Google Fonts, and Fontdeck</p>
									<span class="like">13</span>
									<span>by John Doe  /  2 comments  /  Oct. 03, 2013</span>
							</div>
						</div>
					</div>	
					<ul class="pagination">
						<li class="prev"><a href="#">PREV</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="current"><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">19</a></li>
						<li><a href="#">20</a></li>
						<li class="next"><a href="#">NEXT</a></li>
					</ul>
				</div><!--end conteiner-->
				<div class="sidebar">
					<div class="sid">
						<div class="search">
							<form>
							<input type="text" value="Search...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"/>
							<input type="submit" value=""/>
							</form>
						</div>
					</div>
					<div class="sid">
						<h4>Categories</h4>
						<ul class="categ">
							<li><a href="#">web design</a></li>
							<li><a href="#">Branding</a></li>
							<li><a href="#">business</a></li>
							<li><a href="#">Inspiration</a></li>
							<li><a href="#">marketing</a></li>
							<li><a href="#">html</a></li>
							<li><a href="#">css</a></li>
							<li><a href="#">news</a></li>
							<li><a href="#">mobile</a></li>
							<li><a href="#">Usability</a></li>
						</ul>
					</div>
					<div class="sid">
						<h4>Archive</h4>
						<ul class="archive">
							<li><a href="#">October  (7)</a></li>
							<li><a href="#">September  (9)</a></li>
							<li><a href="#">August  (12)</a></li>
							<li><a href="#">July  (17)</a></li>
							<li><a href="#">June  (6)</a></li>
							<li><a href="#">May  (15)</a></li>
							<li><a href="#">April  (4)</a></li>
							<li><a href="#">March  (13)</a></li>
							<li><a href="#">February  (19)</a></li>
							<li><a href="#">January  (21)</a></li>
						</ul>
					</div>
					<div class="sid1">
						<h4>Popular posts</h4>
						<ul class="pop">
							<li>
								<img src="images/min1.png" alt="" />
								<p>15 Fresh Examples of Clean and Minimal Web Designs</p>
								<span>Oct. 09, 2013</span><span class="like2">21</span>
							</li>
							<li>
								<img src="images/min2.png" alt="" />
								<p>Inspiring Examples of Color in Web Design</p>
								<span>Oct. 09, 2013</span><span class="like2">19</span>
							</li>
							<li>
								<img src="images/min3.png" alt="" />
								<p>17 Inspiring Examples of Parallax Scrolling Sites</p>
								<span>Oct. 09, 2013</span><span class="like2">15</span>
							</li>
							<li>
								<img src="images/min4.png" alt="" />
								<p>15 Websites with Beautiful Typography</p>
								<span>Oct. 09, 2013</span><span class="like2">13</span>
							</li>
							<li>
								<img src="images/min5.png" alt="" />
								<p>20 Resources for Beginner Designers & Developers</p>
								<span>Oct. 09, 2013</span><span class="like2">7</span>
							</li>
						</ul>
					</div>
					<div class="sid2">
						<h4>Tags</h4>
						<ul class="tags">
							<li><a href="#">web design</a></li>
							<li><a href="#">html5</a></li>
							<li><a href="#">inspiration</a></li>
							<li><a href="#">photo</a></li>
							<li><a href="#">css</a></li>
							<li><a href="#">illustration</a></li>
							<li><a href="#">design</a></li>
							<li><a href="#">wordpress</a></li>
							<li><a href="#">business</a></li>
							<li><a href="#">theme</a></li>
							<li><a href="#">joomla</a></li>
						</ul>
					</div>
				</div><!--end sidebar-->
			</div><!--end content-->
			<div id="footer">
				<div class="tp">
					<div class="about">
						<h3>About Us</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut 
							laoreet dolore magna aliquam erat volutpat. Ut wisi 
							enim ad minim veniam, quis nostrud exerci tation ullamcorper 
							suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						<button class="btn">Learn more</button>
						<h4>Photo Stream</h4>
						<div class="gallery">
							<ul>
								<li>
									<a href="#">
									<img src="images/footimg1.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
									<img src="images/footimg2.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
									<img src="images/footimg3.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
									<img src="images/footimg4.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
									<img src="images/footimg5.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
									<img src="images/footimg6.png" alt="" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="twee">
						<h3>Latest tweets</h3>
						<ul class="tweet">
							<li>
								<a href="#">Check Out Dtbaker's <span>@Arduino</span> Sales Notification <span>#System</span> http://t.co/ WBFKIWHJ</a>
								<span>3 days ago</span>
							</li>
							<li>
								<a href="#">Community Superstar Winner – <span>#OrganicBeeMedia</span>  http://t.co/2Fs1nnMj</a>
								<span>3 days ago</span>
							</li>
							<li>
								<a href="#">Clean <span>#Websites</span> Designs for Your <span>#Inspiration</span> http://t.co/ SnRKu3HJ</a>
								<span>5 days ago</span>
							</li>
							<li>
								<a href="#">Cute Online <span>#Shops</span> http://t.co/ 1PoQN3bJ</a>
								<span>6 days ago</span>
							</li>
							<li>
								<a href="#">Download 40 vector #icons package for #FREEhttp://t.co/2Fp5GLqn </a>
								<span>6 days ago</span>
							</li>
						</ul>
						<h4>Social Connecting</h4>
						<ul class="social">
							<li class="fb"><a href="#">fb</a></li>
							<li class="googl"><a href="#">googl</a></li>
							<li class="tw"><a href="#">tw</a></li>
							<li class="in"><a href="#">in</a></li>
							<li class="yt"><a href="#">yt</a></li>
							<li class="b"><a href="#">b</a></li>
							<li class="rss"><a href="#">rss</a></li>
							<li class="ball"><a href="#">ball</a></li>
						</ul>
					</div>	
					<div class="contact">
						<h3>Contact info</h3>
						<ul>
							<li class="adres"><p>Address: 12569 Saint Patrick des Prés, 85000 Paris, France</p></li>
							<li class="phone"><p>Phone: +38 045 845-45-78 +38 045 845-45-79</p></li>
							<li class="mail"><p>E-mail: <span>freeforwebdesign@gmail.com</span></p></li>
						</ul>
						<div class="folow">
							<h4>Follow Us</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<div class="search2">
								<form>
								<input type="text" value=""/>
								<input type="submit" value=""/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="bt">
					<p> Copyright 2013 - FreeForWebDesign.com - All Rights Reserved</p>
					<ul class="fnav">
					<li><a href="#">HOME</a></li>
					<li><a href="#">PORTFOLIO</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">ABOUT US</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
				</div>
			</div><!--end footer-->
		</div><!--end wrap-->
	</body>
</html>
